@use "@/styles/variables" as *;

// Base Header
.header {
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--color-white);
  border-bottom: 1px dashed var(--color-dark);

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

}



