.current {
    border: dashed 1px var(--color-dark);
    border-radius: 20px;
    background-color: var(--color-secondary);
    padding: 8px 20px;
}

.weekday {
    transition: border-bottom ease-out 50ms;
}

/* .carousel {
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.day-container:hover + .days-recipe-title {
    opacity: 1;
    transition: opacity 200ms ease;
}

.days-recipe-title {
    transition: opacity 200ms ease;
}

.current:hover + .days-recipe-title {
    opacity: 0;
}