.btn-toggle:hover svg {
    fill: var(--color-secondary);
}
.btn-toggle:hover .btn-container {
    background-color: var(--color-white);
}
.btn-text {
    text-decoration: underline transparent;
}
.btn-toggle:hover .btn-text {
    text-decoration: underline;
}


.btn-toggle,
.btn-toggle + span,
.btn-container,
.btn-toggle:hover .btn-text {
    transition: all ease-in 250ms;
}
